Debug
Release
lifelong.vcxproj
lifelong.vcxproj.filters
lifelong.vcxproj.user
experiments
python-tools
exp
cmake*
.idea
idea.pptx
~*
maps

# Java compiled files
*.class
*.jar
*.war
*.ear
.classpath
.project
.settings/
target/
bin/
